@model List<ContatoModels>
@{
    ViewData["Title"] = "Listagem de Contatos";
}


<div class="text-center">
    <div class="text-left">
        <a class="btn btn-primary" asp-controller="Contato" asp-action="Criar" style="color:white;" role="button">Adicionar Novo Contato +</a>
    </div>

    <h1 class="display-4">LISTAGEM DE CONTATOS</h1>

    <table class="table text-left">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NOME</th>
          <th scope="col">E-MAIL</th>
          <th scope="col">CELULAR</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (var contato in Model)
                {
                     <tr>
                      <th scope="row">@contato.Id</th>
                      <td>@contato.Name</td>
                      <td>@contato.Email</td>
                      <td>@contato.Cel</td>
                      <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                              <a role="button" class="btn btn-warning" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                              <a role="button" class="btn btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Excluir">Apagar</a>
                          </div>
                      </td>
                    </tr> 
                }
            }
        </tbody>
    </table>



</div>
